*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: rgb(237, 235, 235);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    color: #101010;
}

#main {
    width: 90%;
    /* height: 100%; */
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

#header {
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#logo h3{
    padding-left: 1px;
    font-size: 30px;
    font-weight: 700;
    color: #000;
    text-shadow: 0.5px 0 #000;
    
}

#logo i {
    font-size: 60px;
}

#nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#nav a{
    text-decoration: none;
    color: black;
    opacity: 0.6;
    font-size: 18px;
    font-weight: bold;
    padding:0 15px;
}


#nav a:hover{
    opacity: 1;
    font-weight: bold;   
}

#login {
    display: flex;
    justify-content: center;
    align-items: center;
}

#login button {
    color: white;
    background-color: black;
    padding: 8px 30px;
    border-radius: 16px;
    font-size: 20px;
}

#login button:hover {
    cursor: pointer;
}

#hero {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 80px;

}

#left{
    width: 60%;
    display: flex;
    flex-direction: column;
    padding-left: 90px;
}

#left h1 {
    color: 101010;
    font-size: 70px;
    text-shadow: 2px 0 #000;
}

#left p {
    width: 65%;
    font-size: 15px;
    text-align: justify;
    margin-top: 45px;
    font-weight: 700;
    color: #000;
    text-shadow: 0.5px 0 #000;
}

#right{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


#leftcontent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#leftcontent i{
    font-size: 55px;
}

#leftcontent h1 {
    font-family: 'Roboto', sans-serif;;
    font-size: 40px;
    font-weight: 500;
    text-shadow: 1px 0 #000;
}


#leftcontent p {
    font-weight: bold;
    opacity: 0.9;
}

#rightcontent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 45px;
}

#rightcontent i{
    font-size: 55px;
}

#rightcontent h1 {
    font-family: 'Roboto', sans-serif;;
    font-size: 40px;
    font-weight: 500;
    text-shadow: 1px 0 #000;
}


#rightcontent p {
    font-weight: bold;
    opacity: 0.9;
}

#leftcontenttext p {
    margin-top: 5px;
}

#rightcontenttext p {
    margin-top: 5px;
}

.midborder {
    border: 1px solid #E9E9E9;
}


#grids {
    margin: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#leftgrid {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#blackcard {
    width: 410px;
    height: 170px;
    border: 1px solid black;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    background-color: #000;
}

#bottomleftgrid{
    display: flex;
    gap: 0 30px;
}

.smallercards {
    width: 190px;
    height: 170px;
    border-radius: 30px;
} 


#midgrid {
    width: 240px;
    height: 380px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    background-color: #cccaca;
}


#rightgrid {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#toprightgrid {
    width: 410px;
    height: 170px;
    border-radius: 30px;
    display: flex;
    background-color: #FEA26E;
}

#bottomrightgrid {
    width: 410px;
    height: 170px;
    border-radius: 30px;
    background-color: #7896FF;
    display: flex;
    justify-content: start;
    align-items: center;
}



#blackcardleft {
    width: 50%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#blackcardleft i {
    font-size: 80px;
}

#blackcardleft p {
    color: white;
    text-align: center;
    padding-left: 20px;
    padding-bottom: 20px;
}

#blackcardright{
    width: 50%;
    height: 100%;
    color: cadetblue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#blackcardright i {
    font-size: 140px;
}

#progress {
    position: absolute;
    color: white;
    font-size: 15px;
    font-weight: 700;
}


#bottomleftgridcardone{
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
    row-gap: 15px;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: #7896FF;
}

#bottomleftgridcardone i {
    font-size: 70px;
}

#bottomleftgridcardone p{
    font-size: 18px;
    font-weight: bold;
    color: #36467d;
}




#bottomleftgridcardtwo{
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
    row-gap: 15px;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: #FEA26E;
}

#bottomleftgridcardtwo i {
    font-size: 70px;
}

#bottomleftgridcardtwo p{
    font-size: 18px;
    font-weight: bold;
    color: #a0623e;
}


#midgridbtn {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: start;
    align-items: end;
}

#midgridbtn button {
    background-color: #000;
    color: #E9E9E9;
    width: 60px;
    border-radius: 10px;
    padding: 2px 8px;
    margin-left: 20px;
}

#midgridhero {
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 30px;
}


#midgridhero h2 {
    margin-top: 15px;
    padding-left: 20px;
    color: #000;
    text-shadow: 1px 0 #000;
}

#midgridhero p{
    font-size: 14px;
    padding-left: 20px;
    color: #000;
    text-shadow: 0.5px 0 #000;
}


#midgridcard {
    width: 100%;
    height: 50%;
}

#midgridblackcard {
    width: 190px;
    height: 150px;
    background-color: #000;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#midgridblackcard p {
    font-size: 14px;
    text-align: center;
    padding-top: 10px;
    color: #585858;
    text-shadow: 0.5px 0 #585858;
}

#midgridblackcard h2 {
    color: #E9E9E9;
}


#toprightcard-left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 30px
}

#toprightcard-left h2 {
    text-shadow: 1px 0 #000;
}

#toprightcard-left h3 {
    color: #a0623e;
    opacity: 0.6;
    font-size: 20px;
    text-shadow: 0.5px 0 #a0623e;
}

#toprightcard-right {
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#toprightcard-right i {
    font-size: 80px;
    padding-top: 5px;
}

#toprightcard-right p {
    font-size: 15px;
    text-align: left;
    padding-left: 30px;
    color: #000;
    text-shadow: 0.5px 0 #000;
    opacity: 0.7;
}

#bottomrightcard-left{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#bottomrightcard-left h2 {
    padding-top: 20px ;
    padding-left: 25px;
    font-size: 26px;
    font-weight: bold;
    text-shadow: 1px 0 #000;
}

#bottomrightcard-right h3 {
    padding-top: 70px;
    padding-left: 35px;
    opacity: 0.8;
    text-shadow: 0.3px 0 #000;
    font-size: 18px;
}